.how-we-work {
  margin-top: 50px;
  &-content {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1140px;
    margin: 0 auto;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    h1,
    h3 {
      text-align: center;
      color: #45945d;
      font-size: 32px;
      letter-spacing: 2px;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    h3 {
      margin-top: 80px;
      font-size: 20px;
    }
    p,
    li {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1.6px;
      line-height: 26px;
    }
  }

  &-img {
    text-align: center;
    margin-top: 30px;
    max-width: 100%;
    object-fit: cover;
    border: 2px solid #45945d;
    border-radius: 12px;
    margin: 40px;
  }
}
