.donate {
  &-anything {
    margin-top: 120px;
    background-color: #45945d;
    color: white;
    &-title {
      font-weight: 700;
    }
  }
  &-anything {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &-row {
    display: flex;
    margin-top: 28px;
  }

  &-type-block {
    padding: 32px 16px;
    background-color: #ffffff;
    text-align: center;
    border: 2px solid #45945d;
    border-radius: 12px;
    margin: 40px ;
    box-shadow: 0px 0px 10px 10px rgba(13, 87, 17, 0.2);
    h6 {
      color: #45945d;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }
}

@media screen and (max-width: 1360px) {
  .donate {
    &-anything {
      img{
        width: 350px;
      }
    }
    &-anything {

    }
    &-row {

    }

    &-type-block {
      padding: 16px 8px;
      margin: 16px;
      h6 {
        color: #45945d;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 2px;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .donate {
    &-anything {
      img{
        width: 300px;
      }
      h3{

      }
    }
    &-anything {

    }
    &-row {
      flex-direction: column;
    }

    &-type-block {
      padding: 8px 4px;
      margin: 12px;
      h6 {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}
