.benefit-donate {
  text-align: center;
  padding: 80px 0;
  &-title {
    color: #45945d;
    font-weight: 700;
    margin: 20px 0;
  }
  &-row {
    display: grid;
    margin-top: 72px;
    column-gap: 72px;
    padding: 0 20px;
    row-gap: 72px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  &-block {
    width: 100%;
    padding: 20px 30px;

    border: 2px solid #45945d;
    border-radius: 12px;
    box-shadow: 0px 3px 5px 5px rgba(100, 100, 100, 0.2);
    img {
      width: 389px;
      height: 174px;
      max-width: 100%;
      object-fit: cover;
    }
    h4 {
      color: #45945d;
      font-weight: 500;
      margin: 20px 0;
    }
    p {
      line-height: 1.8;
      font-size: 16px;
    }
  }
  button {
    a {
      text-decoration: none;
      color: white;
      padding: 12px 0;
    }
    margin-top: 72px;
    background: #45945d;
    color: #fff;
    margin-right: 25px;
    width: 150px;
    height: 50px;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 3px;
    &:hover {
      background-color: #337747;
    }
  }
}

@media screen and (max-width: 820px) {
  .benefit-donate {
    text-align: center;
    padding: 30px 0;
    &-title {
      font-size: 36px;
      line-height: 40px;
    }
    &-row {
      column-gap: 72px;
      row-gap: 72px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    &-block {
      width: 100%;

      img {
      }
      h4 {
      }
      p {
      }
    }
    button {
    }
  }
}

@media screen and (max-width: 620px) {
  .benefit-donate {
    text-align: center;
    padding: 30px 0;
    &-title {
      font-size: 36px;
      line-height: 40px;
    }
    &-row {
      column-gap: 72px;
      row-gap: 72px;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    &-block {
      width: 100%;

      img {
      }
      h4 {
      }
      p {
      }
    }
    button {
    }
  }
}
