.modal {
  &-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.6);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999999;
  }

  &-container {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  &-title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }

  &-close-btn {
    display: flex;
    justify-content: flex-end;
    button {
      background-color: transparent;
      border: none;
      font-size: 25px;
      cursor: pointer;
    }
  }

  &-body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }

  &-footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 150px;
      height: 45px;
      margin: 10px;
      border: none;
      background-color: tomato;
      color: white;
      border-radius: 8px;
      font-size: 20px;
      cursor: pointer;
    }
  }

  &-cancel-btn {
    background-color: tomato;
  }
}
