.navbar {
  display: flex;
  height: 80px;
  padding: 0 26px;
  font-size: 18px;
  -webkit-box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
  z-index: 10000;

  &-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      object-fit: cover;
      width: 142px;
      height: 68px;
    }
  }

  .openToggle {
    display: none;
  }

  .closeToggle {
    display: none;
  }

  &-menu {
    list-style: none;
    display: flex;
    margin: auto;
    &-icon {
      font-size: 20px;
      margin: 0 20px;
      padding: 2px;
      cursor: pointer;
      position: relative;
      a {
        color: #45945d;
        font-weight: 500;
        display: block;
      }
      & > .navbar-submenu {
        left: -19px;
      }
      &:hover {
        transition: all 0.2s linear;
        // color: tomato;
        .navbar-submenu {
          transition: all 0.2s linear 0s;
          visibility: visible;
          opacity: 1;
          position: absolute;
        }
      }
      &-score {
        font-size: 16px;
        color: #60e0af;
        margin: 0 4px;
        span {
          font-size: 16px;
          color: #45945d;
        }
      }
    }
    &-icons {
      display: flex;
      align-items: center;
      margin: auto 0;
      list-style: none;
    }
    &-item {
      margin: 0 20px;
      cursor: pointer;
      transition: all 0.2s linear;
      position: relative;
      a {
        text-decoration: none;
        color: black;
        font-weight: 700;
      }
      &:hover {
        .navbar-submenu {
          transition: all 0.2s linear 0s;
          visibility: visible;
          opacity: 1;
          top: 152%;
        }
      }
    }
  }
  &-submenu,
  &-user-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;
    width: 210px;
    box-shadow: 0 0 10px 3px rgb(0 0 0 / 5%);
    padding: 17px 0;
    border-top: 3px solid #45945d;
    border-radius: 7px 7px 3px 3px;
    opacity: 0;
    visibility: hidden;
    &::before {
      border-style: solid;
      border-width: 0 6px 6px 6px;
      border-color: transparent transparent #45945d transparent;
      content: "";
      top: -8px;
      left: 13%;
      position: absolute;
      transition: all 0.3s ease-out 0s;
    }
    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 50px;
      background-color: none;
      position: absolute;
      top: -23%;
    }

    li {
      color: #000;
      a {
        padding: 8px 10px;
        color: #000;
        text-decoration: none;
        display: block;
      }
      a:hover {
        color: #45945d;
        transition: all 0.3s ease-out 0s;
      }
    }
  }

  &-register {
    background: #45945d;
    color: #fff;
    margin-right: 25px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 0.1s ease-in;
    a {
      text-decoration: none;
      color: #fff;
      padding: 10px;
    }
    &:hover {
      background-color: #337747;
    }
  }
  &-login {
    a {
      color: #000;
      text-decoration: none;
      padding: 10px;
    }
    a:hover {
      color: #45945d;
    }
  }
}

@media screen and (max-width: 1360px) {
  .navbar {
    &-logo {
      img {
        width: 100px;
        height: 40px;
      }
    }
    &-menu {
      margin: 0 auto;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 300px;
      flex-direction: column;
      background-color: white;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 42px;
      z-index: 100;
      align-items: stretch;
      transition: all 0.2s linear;
      transform: translateX(110%);
      &.is-show {
        transform: translateX(0);
      }
    }
    .closeToggle {
      margin-top: 28px;
      display: block;
      margin-left: 216px;
    }

    .openToggle {
      display: block;
      margin-left: 60px;
    }
  }
}

@media screen and (max-width: 620px) {
  .navbar {
    &-logo {
      img {
        width: 80px;
        height: 40px;
      }
    }
    .closeToggle {
      margin-top: 14px;
      display: block;
      margin-left: 216px;
    }

    .openToggle {
      display: block;
      margin-left: 30px;
    }

    &-register {
      font-size: 10px;
      padding: 8px;

      a {
        text-decoration: none;
        color: #fff;
        padding: 10px;
      }
      &:hover {
        background-color: #337747;
      }
    }
    &-login {
      a {
        color: #000;
        font-size: 14px;
        text-decoration: none;
        padding: 8px;
      }
      a:hover {
        color: #45945d;
      }
    }
  }
}
