@import "../../Responsive.scss";
.sidebar-panel {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  @include small-tablet {
    width: 100%;
  }
  @include mobile {
    display: block;
  }
  &-avatar {
  }
  &--login {
    text-align: center;
    h2 {
      font-size: 18px;
      font-weight: 500;
      color: tomato;
    }
    p {
      strong {
        color: #000;
      }
      color: #60e0af;
    }
  }
  &--not-login {
    text-align: center;
    padding: 30px 20px;
    a {
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      color: tomato;
      padding: 6px 12px;
      &:hover {
        color: #000;
      }
    }
    p {
      font-size: 14px;
      line-height: 1.4;
    }
  }
  &-voucher {
    &-tags {
    }
    &-nav {
      list-style: none;
      padding-left: 0;

      li {
        text-decoration: none;
        color: #000;
        display: block;
        padding: 10px 15px;
        cursor: pointer;
        transition: all 0.2s linear;
      }
    }
  }
}
.active {
  background-color: #f2540c;
  a {
    color: #fff;
  }
}
.col-2 {
  width: 16.66666667%;
}
