@import "../../Responsive.scss";
.signup {
  height: 100vh;
  &-img {
    position: relative;
    width: 385px;
    img {
      max-width: 100%;
      object-fit: cover;
    }
    &-content {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 20px;
      font-weight: bold;
    }
    @include tablet {
      display: none;
    }
    @include small-tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }
  &-content {
    display: flex;

    // background-color: #b3f7e4;
  }
  &-form {
    // padding: 93px 115px 90px 80px;
    padding: 40px 50px;
    width: 100%;
    &-heading {
      margin-bottom: 20px;
      padding: 0 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      maring-bottom button {
        background-color: tomato;
      }
      @include tablet {
        margin-bottom: 8px;
      }
    }
    &-title {
      color: #55c48f;
      @include small-tablet {
        font-size: 30px;
      }
      @include mobile {
        font-size: 30px;
      }
    }
    &-row {
      display: flex;
      @include mobile {
        flex-direction: column;
      }
    }
    &-group {
      width: 50%;
      padding: 0 30px;
      @include mobile {
        width: 100%;
        padding: 0;
      }
      @include small-tablet {
        width: 100%;
      }
    }
    &-error {
      color: tomato;
      font-size: 14px;
    }
    &-input {
      display: flex;
      flex-direction: column;
      margin-bottom: 18px;

      label {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 7px;
        font-size: 14px;
      }
      input {
        box-sizing: border-box;
        padding: 14px 20px;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid #ebebeb;
      }
      input:focus {
        outline: solid;
        outline-width: 1px;
        outline-color: #4fb56d;
      }
    }
    &-button {
      width: 100%;
      text-align: right;
      margin-top: 50px;
      padding-right:30px;
      @include mobile {
        display: flex;
        justify-content: space-between;
      }
      @include small-mobile {
        display: flex;
        justify-content: space-between;
      }
    }
    &-submit {
      background: #329e5e;
      color: #fff;

      width: 150px;
      height: 50px;
      display: inline-block;
      font-family: "Poppins";
      font-weight: bold;
      font-size: 14px;
      padding: 10px;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      border-radius: 3px;
      &:hover {
        background-color: #337747;
      }
    }
    &-reset {
      display: block;
      background: #fff;
      color: #999;
      border: 2px solid #ebebeb;
      border-radius: 3px;
      width: 150px;
      height: 50px;
      display: inline-block;
      font-family: "Poppins";
      font-weight: bold;
      font-size: 14px;
      padding: 10px;
      cursor: pointer;
      text-transform: uppercase;
      &:hover {
        background: #329e5e;
        color: #fff;
      }
    }
    @include tablet {
      padding: 20px;
    }
    @include small-tablet {
      padding: 20px;
    }
    @include mobile {
      padding: 20px;
    }
  }
}
