@import "../../Responsive.scss";
.change-voucher {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1140px;
  margin: 0 auto;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 50px;
  @include small-tablet {
  }
  @include mobile {
    padding: 0;
  }
  &-post {
    overflow: hidden;
    &-content {
      margin-top: 50px;
      padding: 0 40px;
      h1,
      h3,
      h4 {
        text-align: center;
        color: tomato;
        font-size: 32px;
        letter-spacing: 2px;
        font-weight: bold;
        margin-bottom: 5%;
        text-transform: uppercase;
        text-align: center;
        @include small-tablet {
          font-size: 26px;
        }
        @include mobile {
          font-size: 24px;
        }
      }
      h3 {
        font-size: 20px;
        text-align: left;
        @include mobile {
          font-size: 18px;
        }
      }
      h4 {
        font-size: 20px;
        color: #000;
      }
      p {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.6px;
        line-height: 26px;
        @include mobile {
          font-size: 14px;
        }
      }
      @include small-tablet {
        padding: 0;
      }
      @include mobile {
        padding: 0 10px;
      }
    }
  }
  &-cards {
    display: flex;
    @include small-tablet {
      flex-direction: column;
    }
    @include mobile {
      flex-direction: column;
    }
    @include small-mobile {
      flex-direction: column;
    }

    &-grid {
      width: 83.33333333%;
      text-align: justify;
      font-size: 0;
      margin-top: -2px;
      @include tablet {
        padding: 0;
      }
      @include small-tablet {
        width: 100%;
        padding: 0;
      }
      @include mobile {
        width: 100%;
        padding: 0;
      }
    }

    &-row {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      @include tablet {
        margin-left: 20px;
      }
    }
    &-item {
      display: inline-block;
      text-align: center;
      width: 33.33333%;
      padding: 2px;
      overflow: hidden;
      position: relative;
      min-width: 200px;
      width: 273px;
      height: 400px;
      margin-bottom: 4px;
      // width: 300px;
      @include small-tablet {
        width: 541px;
        height: 767px;
      }
      @include mobile {
        width: 100vw;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
      &-info {
        display: flex;
        flex-direction: column;
      }
      &-price {
        font-size: 18px;
        position: absolute;
        left: 144px;
        bottom: 334px;
        color: #55c48f;
        font-weight: bold;
        width: 100px;
        height: 50px;
        background-color: #000;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 0 8px;
        @include small-tablet {
          left: 70%;
          bottom: 90%;
        }
        // text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
      }
      &-option {
        display: flex;
        align-items: center;
        width: 100%;
        position: absolute;
        left: 36px;
        bottom: 32px;
        height: 20px;
        button {
          font-size: 10px;
          margin-top: 4px;
          padding: 12px 25px;
          color: #fff;
          background-color: rgba(0, 0, 0, 0.7);
          border: 1px solid;
          border-color: #fff !important;
          border-radius: 20px;
          transition: all 0.2s;
          box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 40%);
          outline: none;
          cursor: pointer;
          transition: all 0.2s ease-in;
          margin: 0 2px;
          &:hover {
            color: #000;
            background-color: #fff;
          }
        }
      }
    }
  }
}
